source:
  type: "mysql"
  host: "127.0.0.1"
  port: "3306"
  user: "grok"
  password: "grok"
  dbname: "svcdb"
destination:
  type: "postgres"
  host: "127.0.0.1"
  port: "5432"
  user: "grok"
  password: "grok"
  dbname: "grok"